cejug-classifieds-server/schema/contract/cejug-classifieds-business.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="cejug-classifieds-business"
	targetNamespace="http://cejug-classifieds.dev.java.net/business"
	xmlns:business="http://cejug-classifieds.dev.java.net/business"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:metadata="http://cejug-classifieds.dev.java.net/metadata/business"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap12/"
	xmlns:common="http://cejug-classifieds.dev.java.net/metadata/common">

	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://cejug-classifieds.dev.java.net/business"
			xmlns:metadata="http://cejug-classifieds.dev.java.net/metadata/busines"
			xmlns:common="http://cejug-classifieds.dev.java.net/metadata/common"
			elementFormDefault="qualified">
			<xsd:import
				namespace="http://cejug-classifieds.dev.java.net/metadata/common"
				schemaLocation="common.xsd" />
			<xsd:import
				namespace="http://cejug-classifieds.dev.java.net/metadata/business"
				schemaLocation="business.xsd" />
		</xsd:schema>
	</wsdl:types>

	<!-- ::::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->
	<!-- MESSAGES -->

	<wsdl:message name="ClassifiedsFault">
		<wsdl:part element="common:ServiceFault" name="fault" />
	</wsdl:message>

	<!-- LOAD RSS -->
	<wsdl:message name="LoadRss">
		<wsdl:part element="metadata:RssFilterCollection" name="filter" />
	</wsdl:message>

	<wsdl:message name="LoadRssResponse">
		<wsdl:part element="metadata:RssCollection"
			name="rss.collection" />
	</wsdl:message>

	<!-- LOAD ATOM -->
	<wsdl:message name="LoadAtom">
		<wsdl:part element="metadata:AtomFilterCollection"
			name="filter" />
	</wsdl:message>

	<wsdl:message name="LoadAtomResponse">
		<wsdl:part element="metadata:AtomCollection"
			name="atom.collection" />
	</wsdl:message>

	<!-- GET ADVERTISEMENT COLLECTION -->
	<wsdl:message name="LoadAdvertisement">
		<wsdl:part element="metadata:AdvertisementCollectionFilter"
			name="filter" />
	</wsdl:message>

	<wsdl:message name="LoadAdvertisementResponse">
		<wsdl:part element="metadata:AdvertisementCollection"
			name="advertisements" />
	</wsdl:message>

	<!-- ADVERTISEMENT PUBLISHING -->
	<wsdl:message name="Publish">
		<wsdl:part element="metadata:Advertisement"
			name="advertisement" />
		<wsdl:part name="header" element="metadata:AdvertisementHeader" />
	</wsdl:message>

	<wsdl:message name="PublishResponse">
		<wsdl:part element="common:ServiceStatus" name="status" />
	</wsdl:message>

	<!-- LOAD CATEGORIES -->
	<wsdl:message name="LoadCategories" />
	<wsdl:message name="LoadCategoriesResponse">
		<wsdl:part element="metadata:CategoryCollection"
			name="categories" />
	</wsdl:message>

	<!-- REPORT SPAM -->
	<wsdl:message name="ReportSpam">
		<wsdl:part element="metadata:SpamReport" name="spam" />
	</wsdl:message>

	<wsdl:message name="ReportSpamResponse">
		<wsdl:part element="common:ServiceStatus" name="status" />
	</wsdl:message>

	<!-- ::::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->
	<!-- PORT -->
	<wsdl:portType name="CejugClassifiedsBusiness">
		<wsdl:operation name="LoadAdvertisementOperation">
			<wsdl:input message="business:LoadAdvertisement" />
			<wsdl:output message="business:LoadAdvertisementResponse" />
			<wsdl:fault name="LoadAdvertisementException"
				message="business:ClassifiedsFault" />
		</wsdl:operation>
		<wsdl:operation name="LoadCategoriesOperation">
			<wsdl:input message="business:LoadCategories" />
			<wsdl:output message="business:LoadCategoriesResponse" />
			<wsdl:fault name="LoadCategoriesException"
				message="business:ClassifiedsFault" />
		</wsdl:operation>
		<wsdl:operation name="LoadRssOperation">
			<wsdl:input message="business:LoadRss" />
			<wsdl:output message="business:LoadRssResponse" />
			<wsdl:fault name="LoadRssException"
				message="business:ClassifiedsFault" />
		</wsdl:operation>
		<wsdl:operation name="LoadAtomOperation">
			<wsdl:input message="business:LoadAtom" />
			<wsdl:output message="business:LoadAtomResponse" />
			<wsdl:fault name="LoadAtomException"
				message="business:ClassifiedsFault" />
		</wsdl:operation>
		<wsdl:operation name="PublishOperation">
			<wsdl:input message="business:Publish" />
			<wsdl:output message="business:PublishResponse" />
			<wsdl:fault name="PublishException"
				message="business:ClassifiedsFault" />
		</wsdl:operation>
		<wsdl:operation name="ReportSpamOperation">
			<wsdl:input message="business:ReportSpam" />
			<wsdl:output message="business:ReportSpamResponse" />
			<wsdl:fault name="ReportSpamException"
				message="business:ClassifiedsFault" />
		</wsdl:operation>
	</wsdl:portType>

	<!-- ::::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->
	<!-- BINDING -->
	<wsdl:binding name="CejugClassifiedsBusinessBinding"
		type="business:CejugClassifiedsBusiness">
		<soap:binding style="document"
			transport="http://www.w3.org/2003/05/soap/bindings/HTTP/" />
		<wsdl:operation name="LoadCategoriesOperation">
			<soap:operation
				soapAction="http://cejug-classifieds.dev.java.net/business/LoadCategories" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="LoadAdvertisementOperation">
			<soap:operation
				soapAction="http://cejug-classifieds.dev.java.net/business/LoadAdvertisement" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="LoadRssOperation">
			<soap:operation
				soapAction="http://cejug-classifieds.dev.java.net/business/LoadRss" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="LoadAtomOperation">
			<soap:operation
				soapAction="http://cejug-classifieds.dev.java.net/business/LoadAtom" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="PublishOperation">
			<soap:operation
				soapAction="http://cejug-classifieds.dev.java.net/business/Publish" />
			<wsdl:input>
				<soap:body use="literal" parts="advertisement" />
				<soap:header name="header" message="business:Publish"
					part="header" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ReportSpamOperation">
			<soap:operation
				soapAction="http://cejug-classifieds.dev.java.net/business/ReportSpam" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="CejugClassifiedsServiceBusiness">
		<wsdl:port name="CejugClassifiedsBusiness"
			binding="business:CejugClassifiedsBusinessBinding">
			<soap:address
				location="http://localhost:8080/cejug-classifieds-server/business" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
