cejug-classifieds-server/schema/contract/cejug-classifieds-admin.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="cejug-classifieds-admin"
	targetNamespace="http://cejug-classifieds.dev.java.net/admin"
	xmlns:contract="http://cejug-classifieds.dev.java.net/admin"
	xmlns:common="http://cejug-classifieds.dev.java.net/metadata/common"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:metadata="http://cejug-classifieds.dev.java.net/admin/metadata"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap12/">

	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://cejug-classifieds.dev.java.net/admin/metadata"
			xmlns:common="http://cejug-classifieds.dev.java.net/metadata/common"
			elementFormDefault="qualified">
			<xsd:import
				namespace="http://cejug-classifieds.dev.java.net/metadata/common"
				schemaLocation="common.xsd" />

			<xsd:element name="MonitorQuery">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="query" type="xsd:string"
							minOccurs="0" maxOccurs="1" />
						<xsd:element name="average.response.length"
							type="xsd:int" default="10" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="MonitorResponse">
				<xsd:complexType>
					<xsd:sequence minOccurs="1" maxOccurs="1">
						<xsd:element name="service.name"
							type="xsd:string" />
						<xsd:element name="online.since"
							type="xsd:dateTime" />
						<xsd:element name="records"
							type="metadata:OperationTimestamp" minOccurs="0"
							maxOccurs="unbounded" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="CancelQuotaInfo">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element ref="common:Quota" minOccurs="0"
							maxOccurs="1" />
						<xsd:element name="cancellation.reason"
							type="xsd:string" />
						<xsd:element name="notify.domain.owner"
							type="xsd:boolean" default="true" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="AddQuotaInfo">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element ref="common:Quota" minOccurs="0"
							maxOccurs="1" />
						<xsd:element name="notify.domain.owner"
							type="xsd:boolean" default="false" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:complexType name="OperationTimestamp">
				<xsd:sequence>
					<xsd:element name="operation.name"
						type="xsd:string" />
					<xsd:element name="start" type="xsd:dateTime" />
					<xsd:element name="finish" type="xsd:dateTime" />
					<xsd:element name="client.id" type="xsd:string" />
					<xsd:element name="status" type="xsd:boolean"
						default="true" />
					<xsd:element name="note" type="xsd:string"
						nillable="true" />
				</xsd:sequence>
			</xsd:complexType>


			<xsd:element name="Credentials">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="client.id" type="xsd:string" />
						<xsd:element name="customer.id"
							type="xsd:string" />
						<xsd:element name="customer.role"
							type="xsd:string" />
						<xsd:element name="group" type="xsd:string"
							minOccurs="0" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:complexType name="PinSet">
				<xsd:sequence>
					<xsd:element name="pin" type="xsd:string" />
					<xsd:element name="type" type="xsd:int" />
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
	</wsdl:types>

	<!-- ::::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->
	<!-- MESSAGES -->
	<wsdl:message name="ClassifiedsFault">
		<wsdl:part element="common:ServiceFault" name="fault" />
	</wsdl:message>

	<!-- MONITOR -->
	<wsdl:message name="CheckMonitor">
		<wsdl:part element="metadata:MonitorQuery" name="monitor" />
	</wsdl:message>

	<wsdl:message name="CheckMonitorResponse">
		<wsdl:part element="metadata:MonitorResponse"
			name="service.status" />
	</wsdl:message>

	<!-- REQUEST DOMAIN  -->
	<wsdl:message name="RequestDomain">
		<wsdl:part element="common:Domain" name="domain" />
	</wsdl:message>

	<wsdl:message name="RequestDomainResponse">
		<wsdl:part element="common:ServiceStatus" name="status" />
	</wsdl:message>

	<!-- ADD QUOTA -->
	<wsdl:message name="AddQuota">
		<wsdl:part element="metadata:AddQuotaInfo"
			name="add.quota.request" />
	</wsdl:message>

	<wsdl:message name="AddQuotaResponse">
		<wsdl:part element="common:ServiceStatus"
			name="add.quota.status" />
	</wsdl:message>

	<!-- CANCEL QUOTA -->
	<wsdl:message name="CancelQuota">
		<wsdl:part element="metadata:CancelQuotaInfo"
			name="cancel.quota.request" />
	</wsdl:message>

	<wsdl:message name="CancelQuotaResponse">
		<wsdl:part element="common:ServiceStatus"
			name="cancel.quota.status" />
	</wsdl:message>

	<!-- ::::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->
	<!-- PORT -->
	<wsdl:portType name="CejugClassifiedsAdmin">
		<wsdl:operation name="CheckMonitorOperation">
			<wsdl:input message="contract:CheckMonitor" />
			<wsdl:output message="contract:CheckMonitorResponse" />
			<!-- wsdl:fault name="CheckMonitorException" message="contract:ClassifiedsFault" /-->
		</wsdl:operation>
		<wsdl:operation name="RequestDomainOperation">
			<wsdl:input message="contract:RequestDomain" />
			<wsdl:output message="contract:RequestDomainResponse" />
			<wsdl:fault name="ReportDomainException"
				message="contract:ClassifiedsFault" />
		</wsdl:operation>
		<wsdl:operation name="AddQuotaOperation">
			<wsdl:input message="contract:AddQuota" />
			<wsdl:output message="contract:AddQuotaResponse" />
			<wsdl:fault name="AddQuotaException"
				message="contract:ClassifiedsFault" />
		</wsdl:operation>
		<wsdl:operation name="CancelQuotaOperation">
			<wsdl:input message="contract:CancelQuota" />
			<wsdl:output message="contract:CancelQuotaResponse" />
			<wsdl:fault name="CancelQuotaException"
				message="contract:ClassifiedsFault" />
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="CejugClassifiedsAdminBinding"
		type="contract:CejugClassifiedsAdmin">
		<soap:binding style="document"
			transport="http://www.w3.org/2003/05/soap/bindings/HTTP/" />
		<wsdl:operation name="CheckMonitorOperation">
			<soap:operation
				soapAction="http://cejug-classifieds.dev.java.net/admin/CheckMonitor" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="RequestDomainOperation">
			<soap:operation
				soapAction="http://cejug-classifieds.dev.java.net/business/RequestDomain" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="AddQuotaOperation">
			<soap:operation
				soapAction="http://cejug-classifieds.dev.java.net/business/AddQuota" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="CancelQuotaOperation">
			<soap:operation
				soapAction="http://cejug-classifieds.dev.java.net/business/CancelQuota" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="CejugClassifiedsServiceAdmin">
		<wsdl:port name="CejugClassifiedsAdmin"
			binding="contract:CejugClassifiedsAdminBinding">
			<soap:address
				location="http://localhost:8080/cejug-classifieds-server/admin" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
