cejug-classifieds-server/schema/contract/cejug-classifieds-admin.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="cejug-classifieds-admin"
	targetNamespace="http://cejug-classifieds.dev.java.net/admin"
	xmlns:contract="http://cejug-classifieds.dev.java.net/admin"
	xmlns:common="http://cejug-classifieds.dev.java.net/metadata/common"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:metadata="http://cejug-classifieds.dev.java.net/admin/metadata"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap12/"
	xmlns:common-wsdl="http://cejug-classifieds.dev.java.net/common">
	<wsdl:import namespace="http://cejug-classifieds.dev.java.net/common"
		location="common.wsdl" />
	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://cejug-classifieds.dev.java.net/admin/metadata"
			xmlns:common="http://cejug-classifieds.dev.java.net/metadata/common"
			elementFormDefault="qualified">
			<xsd:import namespace="http://cejug-classifieds.dev.java.net/metadata/common"
				schemaLocation="common.xsd" />
			<xsd:element name="MonitorQuery">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="query" type="xsd:string" minOccurs="0"
							maxOccurs="1" />
						<xsd:element name="average.response.length" type="xsd:int"
							default="10" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="MonitorResponse">
				<xsd:complexType>
					<xsd:sequence minOccurs="1" maxOccurs="1">
						<xsd:element name="service.name" type="xsd:string" />
						<xsd:element name="online.since" type="xsd:dateTime" />
						<xsd:element name="records" type="metadata:OperationTimestamp"
							minOccurs="0" maxOccurs="unbounded" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="CancelQuotaInfo">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element ref="common:Quota" minOccurs="0"
							maxOccurs="1" />
						<xsd:element name="cancellation.reason" type="xsd:string" />
						<xsd:element name="notify.domain.owner" type="xsd:boolean"
							default="true" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="AddQuotaInfo">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element ref="common:Quota" minOccurs="0"
							maxOccurs="1" />
						<xsd:element name="notify.domain.owner" type="xsd:boolean"
							default="false" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:complexType name="OperationTimestamp">
				<xsd:sequence>
					<xsd:element name="operation.name" type="xsd:string" />
					<xsd:element name="start" type="xsd:dateTime" />
					<xsd:element name="finish" type="xsd:dateTime" />
					<xsd:element name="client.id" type="xsd:string" />
					<xsd:element name="status" type="xsd:boolean" default="true" />
					<xsd:element name="note" type="xsd:string" nillable="true" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="Credentials">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="client.id" type="xsd:string" />
						<xsd:element name="customer.id" type="xsd:string" />
						<xsd:element name="customer.role" type="xsd:string" />
						<xsd:element name="group" type="xsd:string" minOccurs="0" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:complexType name="PinSet">
				<xsd:sequence>
					<xsd:element name="pin" type="xsd:string" />
					<xsd:element name="type" type="xsd:int" />
				</xsd:sequence>
			</xsd:complexType>

			<!-- ADVERTISEMENT TYPE PARAMETERS -->
			<xsd:element name="CreateAdvertisementTypeParam">
				<xsd:complexType>
					<xsd:sequence minOccurs="1" maxOccurs="1">
						<xsd:element ref="common:AdvertisementType" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="UpdateAdvertisementTypeParam">
				<xsd:complexType>
					<xsd:sequence minOccurs="1" maxOccurs="1">
						<xsd:element ref="common:AdvertisementType" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="DeleteAdvertisementTypeParam">
				<xsd:complexType>
					<xsd:sequence minOccurs="1" maxOccurs="1">
						<xsd:element ref="common:PrimaryKey" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ReadAdvertisementTypeBundleParam">
				<xsd:complexType>
					<xsd:sequence minOccurs="1" maxOccurs="1">
						<xsd:element ref="common:BundleRequest" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<!-- DOMAIN PARAMETERS -->
			<xsd:element name="CreateDomainParam">
				<xsd:complexType>
					<xsd:sequence minOccurs="1" maxOccurs="1">
						<xsd:element ref="common:Domain" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="UpdateDomainParam">
				<xsd:complexType>
					<xsd:sequence minOccurs="1" maxOccurs="1">
						<xsd:element ref="common:Domain" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="DeleteDomainParam">
				<xsd:complexType>
					<xsd:sequence minOccurs="1" maxOccurs="1">
						<xsd:element ref="common:PrimaryKey" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ReadDomainBundleParam">
				<xsd:complexType>
					<xsd:sequence minOccurs="1" maxOccurs="1">
						<xsd:element ref="common:BundleRequest" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<!-- CATEGORY PARAMETERS -->
			<xsd:element name="CreateCategoryParam">
				<xsd:complexType>
					<xsd:sequence minOccurs="1" maxOccurs="1">
						<xsd:element ref="common:AdvertisementCategory" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="UpdateCategoryParam">
				<xsd:complexType>
					<xsd:sequence minOccurs="1" maxOccurs="1">
						<xsd:element ref="common:AdvertisementCategory" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="DeleteCategoryParam">
				<xsd:complexType>
					<xsd:sequence minOccurs="1" maxOccurs="1">
						<xsd:element ref="common:PrimaryKey" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ReadCategoryBundleParam">
				<xsd:complexType>
					<xsd:sequence minOccurs="1" maxOccurs="1">
						<xsd:element ref="common:BundleRequest" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>

	<!-- ::::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->
	<!-- MESSAGES -->
	<!-- MONITOR -->
	<wsdl:message name="CheckMonitor">
		<wsdl:part element="metadata:MonitorQuery" name="monitor" />
	</wsdl:message>
	<wsdl:message name="CheckMonitorResponse">
		<wsdl:part element="metadata:MonitorResponse" name="service.status" />
	</wsdl:message>

	<!-- ADD QUOTA -->
	<wsdl:message name="AddQuota">
		<wsdl:part element="metadata:AddQuotaInfo" name="add.quota.request" />
	</wsdl:message>

	<!-- CANCEL QUOTA -->
	<wsdl:message name="CancelQuota">
		<wsdl:part element="metadata:CancelQuotaInfo" name="cancel.quota.request" />
	</wsdl:message>
	
	<!-- ADVERTISEMENT TYPE CRUD MESSAGES -->
	<wsdl:message name="CreateAdvertisementTypeMsg">
		<wsdl:part element="metadata:CreateAdvertisementTypeParam"
			name="new.adv.type" />
	</wsdl:message>
	<wsdl:message name="UpdateAdvertisementTypeMsg">
		<wsdl:part element="metadata:UpdateAdvertisementTypeParam"
			name="partial.adv.type" />
	</wsdl:message>
	<wsdl:message name="DeleteAdvertisementTypeMsg">
		<wsdl:part element="metadata:DeleteAdvertisementTypeParam"
			name="obsolete.adv.type" />
	</wsdl:message>
	<wsdl:message name="ReadAdvertisementTypeBundleMsg">
		<wsdl:part element="metadata:ReadAdvertisementTypeBundleParam"
			name="get.advertisement.types" />
	</wsdl:message>
	
	<!-- DOMAIN CRUD MESSAGES -->
	<wsdl:message name="CreateDomainMsg">
		<wsdl:part element="metadata:CreateDomainParam" name="new.domain" />
	</wsdl:message>
	<wsdl:message name="UpdateDomainMsg">
		<wsdl:part element="metadata:UpdateDomainParam" name="partial.domain" />
	</wsdl:message>
	<wsdl:message name="DeleteDomainMsg">
		<wsdl:part element="metadata:DeleteDomainParam" name="obsolete.domain" />
	</wsdl:message>
	<wsdl:message name="ReadDomainBundleMsg">
		<wsdl:part element="metadata:ReadDomainBundleParam" name="get.domains" />
	</wsdl:message>
	
	
	<!-- CATEGORY CRUD MESSAGES -->
	<wsdl:message name="CreateCategoryMsg">
		<wsdl:part element="metadata:CreateCategoryParam" name="new.category" />
	</wsdl:message>
	<wsdl:message name="UpdateCategoryMsg">
		<wsdl:part element="metadata:UpdateCategoryParam" name="partial.category" />
	</wsdl:message>
	<wsdl:message name="DeleteCategoryMsg">
		<wsdl:part element="metadata:DeleteCategoryParam" name="obsolete.category" />
	</wsdl:message>
	<wsdl:message name="ReadCategoryBundleMsg">
		<wsdl:part element="metadata:ReadCategoryBundleParam" name="get.categories" />
	</wsdl:message>
	
	<!-- ::::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->
	<!-- PORT -->
	<wsdl:portType name="CejugClassifiedsAdmin">
		<wsdl:operation name="CheckMonitorOperation">
			<wsdl:documentation>
				TODO: Check monitor documentation
			</wsdl:documentation>
			<wsdl:input message="contract:CheckMonitor" />
			<wsdl:output message="contract:CheckMonitorResponse" />
			<wsdl:fault name="CheckMonitorException" message="common-wsdl:ClassifiedsFault" />
		</wsdl:operation>
		<wsdl:operation name="AddQuotaOperation">
			<wsdl:documentation>
				TODO: Add quota documentation
			</wsdl:documentation>
			<wsdl:input message="contract:AddQuota" />
			<wsdl:output name="AddQuotaResponse" message="common-wsdl:OperationExecutionStatus" />
			<wsdl:fault name="AddQuotaException" message="common-wsdl:ClassifiedsFault" />
		</wsdl:operation>
		<wsdl:operation name="CancelQuotaOperation">
			<wsdl:documentation>
				TODO: Cancel quota documentation
			</wsdl:documentation>
			<wsdl:input message="contract:CancelQuota" />
			<wsdl:output message="common-wsdl:OperationExecutionStatus" />
			<wsdl:fault name="CancelQuotaException" message="common-wsdl:ClassifiedsFault" />
		</wsdl:operation>

		<!-- CATEGORY CRUD -->
		<wsdl:operation name="CreateCategoryOperation">
			<wsdl:documentation>
				CRUD - Creates a new category. Only administrators can
				create categories. If the category already exists, it
				throws an exception.
			</wsdl:documentation>
			<wsdl:input message="contract:CreateCategoryMsg" />
			<wsdl:output name="CreateCategoryResponse" message="common-wsdl:OperationExecutionStatus" />
			<wsdl:fault name="CreateCagegoriesException" message="common-wsdl:ClassifiedsFault" />
		</wsdl:operation>
		<wsdl:operation name="ReadCategoryBundleOperation">
			<wsdl:documentation>
				CRUD - Read all active categories from the database.
			</wsdl:documentation>
			<wsdl:input message="contract:ReadCategoryBundleMsg" />
			<wsdl:output message="common-wsdl:CategoryBundle" />
			<wsdl:fault name="ReadCategoryBundleException" message="common-wsdl:ClassifiedsFault" />
		</wsdl:operation>
		<wsdl:operation name="UpdateCategoryOperation">
			<wsdl:documentation>
				CRUD - Updates a category (merge new attributes data in
				the database). If the category doesn't exists it throws
				an exception, otherwise it return an HTTP Created status
				(201).
			</wsdl:documentation>
			<wsdl:input message="contract:UpdateCategoryMsg" />
			<wsdl:output name="UpdateCategoryResponse" message="common-wsdl:OperationExecutionStatus" />
			<wsdl:fault name="UpdateCagegoriesException" message="common-wsdl:ClassifiedsFault" />
		</wsdl:operation>
		<wsdl:operation name="DeleteCategoryOperation">
			<wsdl:documentation>
				Deletes the category by its ID. If the category doesn't
				exist in the database, it throws an exception.
			</wsdl:documentation>
			<wsdl:input message="contract:DeleteCategoryMsg" />
			<wsdl:output name="DeleteCategoryResponse" message="common-wsdl:OperationExecutionStatus" />
			<wsdl:fault name="DeleteCagegoriesException" message="common-wsdl:ClassifiedsFault" />
		</wsdl:operation>
		
		<!-- ADVERTISEMENT TYPE CRUD -->
		<wsdl:operation name="CreateAdvertisementTypeOperation">
			<wsdl:documentation>
				TODO: Create advertisement documentation
			</wsdl:documentation>
			<wsdl:input message="contract:CreateAdvertisementTypeMsg" />
			<wsdl:output name="CreateAdvertisementTypeResponse"
				message="common-wsdl:OperationExecutionStatus" />
			<wsdl:fault name="CreateAdvertisementTypeException"
				message="common-wsdl:ClassifiedsFault" />
		</wsdl:operation>
		<wsdl:operation name="ReadAdvertisementTypeBundleOperation">
			<wsdl:documentation>
				TODO: Read all advertisement documentation
			</wsdl:documentation>
			<wsdl:input message="contract:ReadAdvertisementTypeBundleMsg" />
			<wsdl:output message="common-wsdl:AdvertisementTypeBundle" />
			<wsdl:fault name="ReadAllAdvertisementTypesException"
				message="common-wsdl:ClassifiedsFault" />
		</wsdl:operation>
		<wsdl:operation name="UpdateAdvertisementTypeOperation">
			<wsdl:documentation>
				TODO: Update advertisement documentation
			</wsdl:documentation>
			<wsdl:input message="contract:UpdateAdvertisementTypeMsg" />
			<wsdl:output name="UpdateAdvertisementTypeResponse"
				message="common-wsdl:OperationExecutionStatus" />
			<wsdl:fault name="UpdateAdvertisementTypeException"
				message="common-wsdl:ClassifiedsFault" />
		</wsdl:operation>
		<wsdl:operation name="DeleteAdvertisementTypeOperation">
			<wsdl:documentation>
				TODO: Delete advertisement documentation
			</wsdl:documentation>
			<wsdl:input message="common-wsdl:PrimaryKey" />
			<wsdl:output name="DeleteAdvertisementTypeResponse"
				message="common-wsdl:OperationExecutionStatus" />
			<wsdl:fault name="DeleteAdvertisementTypeException"
				message="common-wsdl:ClassifiedsFault" />
		</wsdl:operation>
		
		<!-- DOMAIN CRUD -->
		<wsdl:operation name="CreateDomainOperation">
			<wsdl:documentation>
				TODO: Create domain documentation
			</wsdl:documentation>
			<wsdl:input message="contract:CreateDomainMsg" />
			<wsdl:output name="CreateDomainResponse" message="common-wsdl:OperationExecutionStatus" />
			<wsdl:fault name="CreateDomainException" message="common-wsdl:ClassifiedsFault" />
		</wsdl:operation>
		<wsdl:operation name="ReadDomainBundleOperation">
			<wsdl:documentation>
				TODO: Read all domains documentation
			</wsdl:documentation>
			<wsdl:input message="common-wsdl:ReadDomainBundle" />
			<wsdl:output message="common-wsdl:DomainBundle" />
			<wsdl:fault name="ReadDomainBundleException" message="common-wsdl:ClassifiedsFault" />
		</wsdl:operation>
		<wsdl:operation name="UpdateDomainOperation">
			<wsdl:documentation>
				TODO: Update domain documentation
			</wsdl:documentation>
			<wsdl:input message="contract:UpdateDomainMsg" />
			<wsdl:output name="UpdateDomainResponse" message="common-wsdl:OperationExecutionStatus" />
			<wsdl:fault name="UpdateDomainException" message="common-wsdl:ClassifiedsFault" />
		</wsdl:operation>
		<wsdl:operation name="DeleteDomainOperation">
			<wsdl:documentation>
				TODO: Delete domain documentation
			</wsdl:documentation>
			<wsdl:input message="contract:DeleteDomainMsg" />
			<wsdl:output name="DeleteDomainResponse" message="common-wsdl:OperationExecutionStatus" />
			<wsdl:fault name="DeleteDomainException" message="common-wsdl:ClassifiedsFault" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="CejugClassifiedsAdminBinding" type="contract:CejugClassifiedsAdmin">
		<soap:binding style="document"
			transport="http://www.w3.org/2003/05/soap/bindings/HTTP/" />
		<!-- ADVERTISEMENT TYPE -->
		<wsdl:operation name="CreateAdvertisementTypeOperation">
			<soap:operation
				soapAction="http://cejug-classifieds.dev.java.net/admin/CreateAdvertisementType" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ReadAdvertisementTypeBundleOperation">
			<soap:operation
				soapAction="http://cejug-classifieds.dev.java.net/admin/ReadAdvertisementTypes" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="UpdateAdvertisementTypeOperation">
			<soap:operation
				soapAction="http://cejug-classifieds.dev.java.net/admin/UpdateAdvertisementType" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="DeleteAdvertisementTypeOperation">
			<soap:operation
				soapAction="http://cejug-classifieds.dev.java.net/admin/DeleteAdvertisementType" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<!-- DOMAIN -->
		<wsdl:operation name="CreateDomainOperation">
			<soap:operation
				soapAction="http://cejug-classifieds.dev.java.net/admin/CreateDomain" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ReadDomainBundleOperation">
			<soap:operation
				soapAction="http://cejug-classifieds.dev.java.net/admin/ReadDomainBundle" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="UpdateDomainOperation">
			<soap:operation
				soapAction="http://cejug-classifieds.dev.java.net/admin/UpdateDomain" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="DeleteDomainOperation">
			<soap:operation
				soapAction="http://cejug-classifieds.dev.java.net/admin/DeleteDomain" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<!-- CATEGORY -->
		<wsdl:operation name="CreateCategoryOperation">
			<soap:operation
				soapAction="http://cejug-classifieds.dev.java.net/admin/CreateCategory" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ReadCategoryBundleOperation">
			<soap:operation
				soapAction="http://cejug-classifieds.dev.java.net/admin/LoadCategory" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="UpdateCategoryOperation">
			<soap:operation
				soapAction="http://cejug-classifieds.dev.java.net/admin/UpdateCategory" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="DeleteCategoryOperation">
			<soap:operation
				soapAction="http://cejug-classifieds.dev.java.net/admin/DeleteCategory" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<!-- ADVERTISEMENT TYPE -->
		<wsdl:operation name="CheckMonitorOperation">
			<soap:operation
				soapAction="http://cejug-classifieds.dev.java.net/admin/CheckMonitor" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="AddQuotaOperation">
			<soap:operation
				soapAction="http://cejug-classifieds.dev.java.net/admin/AddQuota" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="CancelQuotaOperation">
			<soap:operation
				soapAction="http://cejug-classifieds.dev.java.net/admin/CancelQuota" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="CejugClassifiedsServiceAdmin">
		<wsdl:port name="CejugClassifiedsAdmin" binding="contract:CejugClassifiedsAdminBinding">
			<soap:address location="http://localhost:8080/cejug-classifieds-server/admin" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>