cejug-classifieds-server/conf/ejb/META-INF/wsdl/cejug-classifieds-business.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="cejug-classifieds-business"
	targetNamespace="http://cejug-classifieds.dev.java.net/business"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:business="http://cejug-classifieds.dev.java.net/business"
	xmlns:metadata="http://cejug-classifieds.dev.java.net/metadata/business"
	xmlns:common="http://cejug-classifieds.dev.java.net/metadata/common"
	xmlns:common-wsdl="http://cejug-classifieds.dev.java.net/common">
	<wsdl:import namespace="http://cejug-classifieds.dev.java.net/common"
		location="common.wsdl" />
	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:import namespace="http://cejug-classifieds.dev.java.net/metadata/common"
				schemaLocation="common.xsd" />
			<xsd:import namespace="http://cejug-classifieds.dev.java.net/metadata/business"
				schemaLocation="business.xsd" />
		</xsd:schema>
	</wsdl:types>

	<!-- ::::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->
	<!-- MESSAGES -->
	<!-- LOAD RSS -->
	<wsdl:message name="LoadRss">
		<wsdl:part element="metadata:RssFilterCollection" name="filter" />
	</wsdl:message>
	<wsdl:message name="LoadRssResponse">
		<wsdl:part element="metadata:RssCollection" name="rss.collection" />
	</wsdl:message>

	<!-- LOAD ATOM -->
	<wsdl:message name="LoadAtom">
		<wsdl:part element="metadata:AtomFilterCollection" name="filter" />
	</wsdl:message>
	<wsdl:message name="LoadAtomResponse">
		<wsdl:part element="metadata:AtomCollection" name="atom.collection" />
	</wsdl:message>

	<!-- GET ADVERTISEMENT COLLECTION -->
	<wsdl:message name="LoadAdvertisement">
		<wsdl:part element="metadata:AdvertisementCollectionFilter"
			name="filter" />
	</wsdl:message>
	<wsdl:message name="LoadAdvertisementResponse">
		<wsdl:part element="metadata:AdvertisementCollection" name="advertisements" />
	</wsdl:message>

	<!-- ADVERTISEMENT PUBLISHING -->
	<wsdl:message name="Publish">
		<wsdl:part element="metadata:Advertisement" name="advertisement" />
		<wsdl:part name="header" element="metadata:PublishingHeader" />
	</wsdl:message>

	<!-- REPORT SPAM -->
	<wsdl:message name="ReportSpam">
		<wsdl:part element="metadata:SpamReport" name="spam" />
	</wsdl:message>
	<wsdl:message name="ReportSpamResponse">
		<wsdl:part element="common:ServiceStatus" name="status" />
	</wsdl:message>

	<!-- ::::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->
	<!-- PORT -->
	<wsdl:portType name="CejugClassifiedsBusiness">
		<wsdl:operation name="ReadCategoryBundleOperation">
			<wsdl:input name="ReadCategoryBundle" message="common-wsdl:ReadCategoryBundle" />
			<wsdl:output message="common-wsdl:CategoryBundle" />
			<wsdl:fault name="ReadCategoryBundleException" message="common-wsdl:ClassifiedsFault" />
		</wsdl:operation>
		<wsdl:operation name="LoadAdvertisementOperation">
			<wsdl:input message="business:LoadAdvertisement" />
			<wsdl:output message="business:LoadAdvertisementResponse" />
			<wsdl:fault name="LoadAdvertisementException" message="common-wsdl:ClassifiedsFault" />
		</wsdl:operation>
		<wsdl:operation name="LoadRssOperation">
			<wsdl:input message="business:LoadRss" />
			<wsdl:output message="business:LoadRssResponse" />
			<wsdl:fault name="LoadRssException" message="common-wsdl:ClassifiedsFault" />
		</wsdl:operation>
		<wsdl:operation name="LoadAtomOperation">
			<wsdl:input message="business:LoadAtom" />
			<wsdl:output message="business:LoadAtomResponse" />
			<wsdl:fault name="LoadAtomException" message="common-wsdl:ClassifiedsFault" />
		</wsdl:operation>
		<wsdl:operation name="PublishOperation">
			<wsdl:input message="business:Publish" />
			<wsdl:output message="common-wsdl:OperationExecutionStatus" />
			<wsdl:fault name="PublishException" message="common-wsdl:ClassifiedsFault" />
		</wsdl:operation>
		<wsdl:operation name="ReportSpamOperation">
			<wsdl:input message="business:ReportSpam" />
			<wsdl:output message="business:ReportSpamResponse" />
			<wsdl:fault name="ReportSpamException" message="common-wsdl:ClassifiedsFault" />
		</wsdl:operation>
	</wsdl:portType>

	<!-- ::::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->
	<!-- BINDING -->
	<wsdl:binding name="CejugClassifiedsBusinessBinding" type="business:CejugClassifiedsBusiness">
		<soap:binding style="document"
			transport="http://www.w3.org/2003/05/soap/bindings/HTTP/" />
		<wsdl:operation name="ReadCategoryBundleOperation">
			<soap:operation
				soapAction="http://cejug-classifieds.dev.java.net/business/LoadCategories" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="LoadAdvertisementOperation">
			<soap:operation
				soapAction="http://cejug-classifieds.dev.java.net/business/LoadAdvertisement" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="LoadRssOperation">
			<soap:operation
				soapAction="http://cejug-classifieds.dev.java.net/business/LoadRss" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="LoadAtomOperation">
			<soap:operation
				soapAction="http://cejug-classifieds.dev.java.net/business/LoadAtom" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="PublishOperation">
			<soap:operation
				soapAction="http://cejug-classifieds.dev.java.net/business/Publish" />
			<wsdl:input>
				<soap:body use="literal" parts="advertisement" />
				<soap:header message="business:Publish" part="header"
					use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ReportSpamOperation">
			<soap:operation
				soapAction="http://cejug-classifieds.dev.java.net/business/ReportSpam" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="CejugClassifiedsServiceBusiness">
		<wsdl:documentation>
			<Version>$Id$</Version>
		</wsdl:documentation>
		<wsdl:port name="CejugClassifiedsBusiness" binding="business:CejugClassifiedsBusinessBinding">
			<soap:address
				location="http://localhost:8080/ClassifiedsBusinessSessionBeanService/ClassifiedsBusinessSessionBean" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>